body{
    background-color: #f3f3f3;
    font-family: 'Barlow Semi Condensed', sans-serif;
    padding: 0;
    margin: 0;
    position: relative;
  }
  section{
    display: flex;
  }
  .left{
      width: 50%;
  }
  .right{
    width: 50%;
    background-color: #2d3a4e;
    padding: 40px;
    width: 320px;
    margin: 0 auto;
  }
  .right h4, .right p{
      color: #acd15d;
  }
  form{
    margin-top: 20px;
    color: white;
  }
  p{ margin: 0; }
  input{
    width: 93%;
    height: 15px;
    margin: 10px 0;
    padding: 10px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #f6f6f6;
  }
  input::placeholder{
      color: rgba(255,255,255,0.5)
  }
  textarea{
      background-color: transparent;
      border: 1px solid #f6f6f6;
      width: 100%;
      width: 97.5%;
  }
  button{
    margin-top: 15px;
    width: 100%;
    padding: 10px;
    background: #acd15d;
    border: none;
    border-radius: 3px;
    color: white;
    font-size: 16px;
    cursor: pointer;
  }
  #placeholder{ margin-top: 20px; }
  #error{
    text-align: center;
    color: red;
    margin-top: 10px;
  }
  #loaderImg{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 400px;
    margin: 0 auto;
    opacity: 0.7;
  }
  header{
    background-color: white;
    padding: 20px;
  }
  .error{
    color: red;
    font-size: 10px;
    margin-bottom: 10px;
  }
